* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    background: black;
  }

  body {
    background-image: url("fly.jpg"); /* Use forward slash */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
  }
  
  
  .plane {
    margin: 20px auto;
    max-width: 300px;
    background: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  
  .select {
    height: 350px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .select h1 {
    width: 60%;
    margin: 100px auto 35px auto;
  }
  
  .exit {
    position: relative;
    height: 50px;
  }
  .exit:before, .exit:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 20px;
    padding: 0px 2px 2px 5px;
    display: block;
    position: absolute;
    background: red;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 10px;
  }
  .exit:before {
    left: 10px;
  }
  .exit:after {
    right: 10px;
  }
  
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  .seat {
    display: flex;
    flex: 0 0 14.28%;
    padding: 10px;
    position: relative;
  }

  .unavailable .seat label {
    background-color: green;
  }
  .unavailable .seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px green;
  }
  
  
  .seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.5rem;
    padding: 10px 0;
    background: #fc5b5b;
    border-radius: 5px; 
    color: black; 
  }
  
 
  
  .seat:nth-child(3) {
    margin-right: 14%;
  }
  .seat input[type=checkbox] {
    position: absolute;
  }



  .seat input[type=checkbox]:checked + label {
    background: #656e65;
  }
  .select-button {
    position: absolute;
    bottom: 50%; 
    left: 50%; 
    transform: translate(-50%, 50%); 
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  